/* Your app styles here */

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}
/*--------------*/
.ios .navbar {
  background: #343a40 !important;
  color: white !important;
}
.ios .subnavbar {
    background: #464f57;
}
.ios .navbar a.icon {
    color: white !important;
}
.ios a {
    color: #fa9539;
}
.ios .clicked-ad {
    z-index: 9999 !important;
}



.md .clicked-ad {
    z-index: 9999 !important;
}
.md .navbar {
  background: #343a40 !important;
  color: white !important;
}
.md .subnavbar {
    background: #464f57;
}
.md .navbar a.icon {
    color: white !important;
}
.md a {
    color: #fa9539;
}



/**/

.segmented .button, .segmented button {
    color: white !important;
}